/* */
main {
    background-color: blue;
    width: 200px;
    height: 200px;
}

.container_test {
    background-color: pink;
    width: 200px;
    height: 200px;
}

#novo_id {
    background-color: yellow;
    width: 200px;
    height: 200px;
}